Example_PutSiteToSite.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?><template><description>An example of using PutSiteToSite with DuplicateByAttribute</description><name>Example PutSiteToSite</name><snippet><connections><id>2906362b-c391-4b16-ab7f-904aba339a29</id><parentGroupId>bce58c16-6725-46e5-96c0-71dcebe3fd61</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>bce58c16-6725-46e5-96c0-71dcebe3fd61</groupId><id>e28f9878-46b1-4907-a564-69c7798263b2</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>bce58c16-6725-46e5-96c0-71dcebe3fd61</groupId><id>575fed44-4f6f-4e81-8cdd-73001ca45606</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>b7e2ff7e-ba6c-461e-9a32-d7bcd2886e48</id><parentGroupId>bce58c16-6725-46e5-96c0-71dcebe3fd61</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>bce58c16-6725-46e5-96c0-71dcebe3fd61</groupId><id>a2b20493-cf74-4883-892f-55862becd05c</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>bce58c16-6725-46e5-96c0-71dcebe3fd61</groupId><id>836764d6-998b-4932-b312-b4912a37bf12</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>4930e92f-0f2c-45ac-988c-38c60c45bacf</id><parentGroupId>bce58c16-6725-46e5-96c0-71dcebe3fd61</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>bce58c16-6725-46e5-96c0-71dcebe3fd61</groupId><id>575fed44-4f6f-4e81-8cdd-73001ca45606</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>bce58c16-6725-46e5-96c0-71dcebe3fd61</groupId><id>a2b20493-cf74-4883-892f-55862becd05c</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><processors><id>e28f9878-46b1-4907-a564-69c7798263b2</id><parentGroupId>bce58c16-6725-46e5-96c0-71dcebe3fd61</parentGroupId><position><x>3594.7560070937247</x><y>1142.2805450908106</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Remote URL</key><value><description>URL of the remote NiFi instance</description><displayName>Remote URL</displayName><dynamic>false</dynamic><name>Remote URL</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Remote Input Port</key><value><description>Name of the remote input port</description><displayName>Remote Input Port</displayName><dynamic>false</dynamic><name>Remote Input Port</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Use Compression</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Specifies whether or not data should be compressed before being transferred to or from the remote instance.</description><displayName>Use Compression</displayName><dynamic>false</dynamic><name>Use Compression</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>SSL Context Service</key><value><allowableValues><displayName>StandardSSLContextService</displayName><value>d0939532-2dff-475b-88bd-7aae81b022d0</value></allowableValues><description>The SSL Context Service used to provide client certificate information for TLS/SSL enabled site-to-site connections.</description><displayName>SSL Context Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService><name>SSL Context Service</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Client Auth</key><value><allowableValues><displayName>WANT</displayName><value>WANT</value></allowableValues><allowableValues><displayName>REQUIRED</displayName><value>REQUIRED</value></allowableValues><allowableValues><displayName>NONE</displayName><value>NONE</value></allowableValues><defaultValue>REQUIRED</defaultValue><description>The client authentication policy to use for the SSL Context. Only used if an SSL Context Service is provided.</description><displayName>Client Auth</displayName><dynamic>false</dynamic><name>Client Auth</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Remote URL</key><value>${destinations}</value></entry><entry><key>Remote Input Port</key><value>Test Input Port</value></entry><entry><key>Use Compression</key><value>true</value></entry><entry><key>SSL Context Service</key></entry><entry><key>Client Auth</key><value>REQUIRED</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>PutSiteToSite</name><relationships><autoTerminate>true</autoTerminate><description>Any FlowFile that fails to be transferred is routed to this relationship</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>Any FlowFile that is successfully transferred is routed to this relationship</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>com.joeyfrazee.nifi.processors.PutSiteToSite</type></processors><processors><id>836764d6-998b-4932-b312-b4912a37bf12</id><parentGroupId>bce58c16-6725-46e5-96c0-71dcebe3fd61</parentGroupId><position><x>3039.7560070937247</x><y>711.2804840556544</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>File Size</key><value><description>The size of the file that will be used</description><displayName>File Size</displayName><dynamic>false</dynamic><name>File Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Batch Size</key><value><defaultValue>1</defaultValue><description>The number of FlowFiles to be transferred in each invocation</description><displayName>Batch Size</displayName><dynamic>false</dynamic><name>Batch Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Data Format</key><value><allowableValues><displayName>Binary</displayName><value>Binary</value></allowableValues><allowableValues><displayName>Text</displayName><value>Text</value></allowableValues><defaultValue>Binary</defaultValue><description>Specifies whether the data should be Text or Binary</description><displayName>Data Format</displayName><dynamic>false</dynamic><name>Data Format</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Unique FlowFiles</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>If true, each FlowFile that is generated will be unique. If false, a random value will be generated and all FlowFiles will get the same content but this offers much higher throughput</description><displayName>Unique FlowFiles</displayName><dynamic>false</dynamic><name>Unique FlowFiles</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>File Size</key><value>1KB</value></entry><entry><key>Batch Size</key></entry><entry><key>Data Format</key><value>Text</value></entry><entry><key>Unique FlowFiles</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>5 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>GenerateFlowFile</name><relationships><autoTerminate>false</autoTerminate><description></description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.GenerateFlowFile</type></processors><processors><id>a2b20493-cf74-4883-892f-55862becd05c</id><parentGroupId>bce58c16-6725-46e5-96c0-71dcebe3fd61</parentGroupId><position><x>3038.7560070937247</x><y>920.2804840556544</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Delete Attributes Expression</key><value><description>Regular expression for attributes to be deleted from flowfiles.</description><displayName>Delete Attributes Expression</displayName><dynamic>false</dynamic><name>Delete Attributes Expression</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>destinations</key><value><description></description><displayName>destinations</displayName><dynamic>true</dynamic><name>destinations</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Delete Attributes Expression</key></entry><entry><key>destinations</key><value>host1,host2,host3</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>UpdateAttribute</name><relationships><autoTerminate>false</autoTerminate><description>All FlowFiles are routed to this relationship</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.attributes.UpdateAttribute</type></processors><processors><id>575fed44-4f6f-4e81-8cdd-73001ca45606</id><parentGroupId>bce58c16-6725-46e5-96c0-71dcebe3fd61</parentGroupId><position><x>3039.7560070937247</x><y>1143.2805450908106</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Attribute to Duplicate By</key><value><description>The name of the attribute to duplicate by. The contents of this attribute should be a comma-separated list of values. Each value will be saved as a new attribute with the name specified in 'Output Attribute'.</description><displayName>Attribute to Duplicate By</displayName><dynamic>false</dynamic><name>Attribute to Duplicate By</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Output Attribute</key><value><description>The name of the attribute that will be written from the contents of the 'Attribute to Duplicate By' attribute</description><displayName>Output Attribute</displayName><dynamic>false</dynamic><name>Output Attribute</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Attribute to Duplicate By</key><value>destinations</value></entry><entry><key>Output Attribute</key><value>destination</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>DuplicateByAttribute</name><relationships><autoTerminate>true</autoTerminate><description>Any FlowFile that fails to be transferred is routed to this relationship</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>The original file is always routed to this relationship</description><name>original</name></relationships><relationships><autoTerminate>false</autoTerminate><description>Any FlowFile that is successfully transferred is routed to this relationship</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>com.joeyfrazee.nifi.processors.DuplicateByAttribute</type></processors></snippet><timestamp>03/31/2016 13:49:59 CDT</timestamp></template>